#!/bin/sh

set -e

@XRUN ./@XPROG_unaligned 16
@XRUN ./@XPROG_mem
@XRUN ./@XPROG_bench_dyn 13 4 2
@XRUN ./@XPROG_correct burst 6
@XRUN ./@XPROG_correct rand 16 13 10000

for m in 12 13 14; do
    echo "./tu_tool -d -c16 -m $m -t16 -b10000"
    @XRUN ./@XPROG_tool -d -c16 -m $m -t16 -b10000
done

i=0
while [ $i -lt 5 ]; do
    @XRUN ./@XPROG_tool -r $i
    i=$(($i+1))
done

echo SUCCESS
